page-login {

  * {
    color: white !important;
  }

  .logo-login {
    width: 150px;
    margin: 20% auto;
  }

  button {
    margin-bottom: 10px !important;
  }


  ion-content {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,7423ed+50,6200ee+100 */
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #cb60b3 0%, #7423ed 50%, #6200ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cb60b3 0%,#7423ed 50%,#6200ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #cb60b3 0%,#7423ed 50%,#6200ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#6200ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
